APP_PORT=39173
APP_HOSTNAME=lmk-7q9n.edge.example.net
TZ=Etc/UTC

POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_PORT_BIND=127.0.0.1:35491
POSTGRES_USER=lmkp_A7vN3qY8
POSTGRES_PASSWORD=Db_T9x4Qm7Lp2Rs8Vk
POSTGRES_DB=lmkd_A7vN3qY8

# Only used on the very first startup.
LISTMONK_ADMIN_USER=adm_Z8kR4pN2
LISTMONK_ADMIN_PASSWORD=Adm_K6rT9wQ2pV8xLs3
